- name: Add Worker to manager node
  docker_swarm:
    state: join
    advertise_addr: worker
    join_token: "{{ hostvars['10.154.0.12']['swarm_info']['swarm_facts']['JoinTokens']['Worker'] }}"
    remote_addrs: [ 'swarm-master' ]